@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #000;
}

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@theme {
  --color-*: initial;

  /* Core Colors */
  --color-pure-black: #000000;
  --color-pure-white: #FFFFFF;
  --color-black: #0F0F0F;
  --color-off-black: #121212;
  --color-soft-black: #1E1E1E;
  --color-purple: #8B5CF6;
  --color-purple-dark: #7C3AED;
  --color-purple-light: #A78BFA;
  --color-white: #F9FAFB;

  /* Status Colors */
  --color-success: #10B981;
  --color-success-dark: #059669;
  --color-warning: #F59E0B;
  --color-warning-dark: #D97706;
  --color-error: #EF4444;
  --color-error-dark: #DC2626;
  --color-info: #3B82F6;
  --color-info-dark: #2563EB;

  /* Text Colors */
  --color-text-primary: #F9FAFB;
  --color-text-secondary: #9CA3AF;
  --color-text-muted: #6B7280;

  /* Border Colors */
  --color-border: #1E1E1E;
  --color-border-light: #2D2D2D;

    --color-purple-300: #D8B4FE;
  --color-purple-400: #C084FC;
  --color-purple-500: #A855F7;
  --color-purple-600: #7C3AED;
  --color-purple-700: #6D28D9;
  --color-purple-900: #4C1D95;

  --color-gray-300: #D1D5DB;
  --color-gray-400: #9CA3AF;
  --color-gray-500: #6B7280;
  --color-gray-700: #374151;
  --color-gray-800: #1F2937;
  --color-gray-900: #111827;

  --color-green-300: #6EE7B7;
  --color-green-400: #34D399;
  --color-green-500: #10B981;
  --color-green-600: #059669;
  --color-green-700: #047857;
  --color-green-900: #064E3B;

  --color-red-300: #FCA5A5;
  --color-red-400: #F87171;
  --color-red-500: #EF4444;
  --color-red-600: #DC2626;
  --color-red-700: #B91C1C;
  --color-red-900: #7F1D1D;

  --color-yellow-300: #FCD34D;
  --color-yellow-500: #EAB308;

  --color-amber-300: #FBBF24;
  --color-amber-700: #D97706;

  --color-yellow-500-20: rgba(234, 179, 8, 0.2);
  --color-gray-500-20: rgba(107, 114, 128, 0.2);
  --color-amber-700-20: rgba(217, 119, 6, 0.2);
  --color-gray-800-40: rgba(31, 41, 55, 0.4);

  --color-purple-248: rgba(139, 92, 246, 0.15);
}
